.App {
    display: grid;
    align-items: center;
    justify-content: center;
}

.App_Form {
    border:0.1em solid black;
    border-radius:0.6em;
    margin: 5px;
    padding:0.35em 6.2em;
}

.App_Button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid rgb(0, 0, 0);
    border-radius:0.6em;
    font-family:'Roboto',sans-serif;
    font-weight:1000;
    font-size: initial;
    color:rgb(0, 0, 0);
    text-align:center;
    background-color: cadetblue;
}
  
  
  