table {
    display: grid;
    justify-content: space-around;
}
table tr {
    display: table-cell;
}
table tr td {
    display: block;
}

table thead {
    columns: 2;
    font-size: 60px;
    padding:0.1em 1.2em;
}

table tbody {
    text-align: center;   
}

button {
    margin: 10px;
    display:inline-block;
    padding:0.35em 3.2em;
    border:0.1em solid greenyellow;
    border-radius:0.6em;
    font-family:'Roboto',sans-serif;
    font-weight:1000;
    font-size: initial;
    color:rgb(0, 0, 0);
    text-align:center;
    background-color: darkgreen;
}