table {
    display: grid;
    justify-content: space-around;
}
table tr {
    display: table-cell;
}
table tr td {
    display: block;
}

table thead {
    columns: 2;
    font-size: 60px;
    padding:0.1em 1.2em;
}

table tbody {
    text-align: center;   
}

button {
    align-items: center;
    margin: 80px;
    padding:0.35em 3.2em;
    border:0.1em solid greenyellow;
    border-radius:0.6em;
    font-family:'Roboto',sans-serif;
    font-size: initial;
    color:rgb(0, 0, 0);
    background-color: darkgreen;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}